@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&family=Poppins:wght@300;400;500;600;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a,
button {
  display: inline-block;
  text-decoration: none;
}
a:hover, a:focus, a:visited,
button:hover,
button:focus,
button:visited {
  outline: none;
  color: inherit;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1215px;
  margin: 0 auto;
  width: 100%;
}
@media screen and (max-width: 1250px) {
  .container {
    max-width: 1024px;
  }
}
@media screen and (max-width: 1060px) {
  .container {
    max-width: 740px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    max-width: 500px;
  }
}
@media screen and (max-width: 555px) {
  .container {
    max-width: 328px;
  }
}

.flex--between {
  display: flex;
  justify-content: space-between;
}

.flex--column {
  display: flex;
  flex-direction: column;
}

.flex--row {
  display: flex;
  flex-direction: row;
}

.flex--wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex--center {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

@font-face {
  font-family: "fonticons";
  src: url("../scss/icons/fonticons.eot");
  src: url("../scss/icons/fonticons.eot?#iefix") format("eot"), url("../scss/icons/fonticons.woff2") format("woff2"), url("../scss/icons/fonticons.woff") format("woff"), url("../scss/icons/fonticons.ttf") format("truetype"), url("../scss/icons/fonticons.svg#fonticons") format("svg");
}
.icon-twitter-brands:before, .icon-shop:before, .icon-scissors:before, .icon-paw-solid:before, .icon-instagram-brands:before, .icon-hospital-alt-solid:before, .icon-facebook-f-brands:before, .icon-dog:before, .icon-dog-training:before, .icon-chevron-up-solid:before, .icon-chevron-right-solid:before, .icon-chevron-left-solid:before, .icon-chevron-down-solid:before {
  font-family: "fonticons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
}

.icon-chevron-down-solid:before {
  content: "\e001";
}

.icon-chevron-left-solid:before {
  content: "\e002";
}

.icon-chevron-right-solid:before {
  content: "\e003";
}

.icon-chevron-up-solid:before {
  content: "\e004";
}

.icon-dog-training:before {
  content: "\e005";
}

.icon-dog:before {
  content: "\e006";
}

.icon-facebook-f-brands:before {
  content: "\e007";
}

.icon-hospital-alt-solid:before {
  content: "\e008";
}

.icon-instagram-brands:before {
  content: "\e009";
}

.icon-paw-solid:before {
  content: "\e00a";
}

.icon-scissors:before {
  content: "\e00b";
}

.icon-shop:before {
  content: "\e00c";
}

.icon-twitter-brands:before {
  content: "\e00d";
}

.main-title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
}

.section-title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  color: #1E1E1E;
}

@media screen and (max-width: 767px) {
  .section-title {
    font-size: 24px;
    line-height: 32px;
  }
}
.tooltip {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10000;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.tooltip .tooltip-content {
  margin-top: 22px;
  margin-left: -8px;
  opacity: 0;
  width: 480px;
  height: 412px;
  background-color: #FFFFFF;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s ease-in-out;
}
.tooltip .tooltip-content .tooltip-content-container {
  padding: 20px 32px;
}
.tooltip .tooltip-content .tooltip-content-container h2 {
  margin-bottom: 14px;
  font-size: 24px;
}
.tooltip .tooltip-content .tooltip-content-container p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 24px;
}
.tooltip .tooltip-content .tooltip-content-container input {
  color: #1E1E1E;
  display: block;
  width: calc(100% - 15px);
  height: 50px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: #F2F2F2;
  outline: none;
  overflow: hidden;
  border-bottom: 1px solid #DEDEDE;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-bottom: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 18px;
  padding-left: 15px;
}
.tooltip .tooltip-content .tooltip-content-container textarea {
  height: 101px;
  width: calc(100% - 18px);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: #F2F2F2;
  outline: none;
  overflow: hidden;
  border-bottom: 1px solid #DEDEDE;
  border-top: none;
  border-left: none;
  border-right: none;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #1E1E1E;
  line-height: 18px;
  padding-left: 18px;
  padding-top: 21px;
}
.tooltip .tooltip-content .tooltip-content-container .tooltip-buttons {
  align-items: center;
  display: flex;
  flex-direction: row;
  float: right;
  margin-top: 24px;
}
.tooltip .tooltip-content .tooltip-content-container .tooltip-buttons a {
  color: #FE5E41;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  transition: 0.4s ease-in-out;
  margin-right: 24px;
}
.tooltip .tooltip-content .tooltip-content-container .tooltip-buttons a:hover {
  color: #1E1E1E;
}
.tooltip .tooltip-content .tooltip-content-container .tooltip-buttons a:last-of-type {
  color: #FFFFFF;
  background-color: #FE5E41;
  padding: 11px 20px;
  margin-right: 0;
  border-radius: 4px;
}
.tooltip .tooltip-content .tooltip-content-container .tooltip-buttons a:last-of-type:hover {
  color: #FE5E41;
  background-color: #FFFFFF;
}
.tooltip .tooltip-content .exit {
  color: #1E1E1E;
  position: absolute;
  top: 20px;
  right: 28px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.tooltip .tooltip-content .exit i {
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s ease-in-out;
}
.tooltip .tooltip-content .exit i:hover {
  color: #FE5E41;
}

.tooltip.open {
  z-index: 1000;
}
.tooltip.open .tooltip-content {
  opacity: 1;
  z-index: 1000;
}

@media screen and (max-width: 555px) {
  .tooltip .tooltip-content {
    width: 328px;
    height: 436px;
  }
  .tooltip .tooltip-content .tooltip-content-container {
    padding: 20px 24px;
  }
  .tooltip .tooltip-content .tooltip-content-container h2 {
    margin-bottom: 17px;
  }
  .tooltip .tooltip-content .tooltip-content-container p {
    margin-bottom: 23px;
  }
  .tooltip .tooltip-content .tooltip-content-container input {
    height: 52px;
  }
  .tooltip .tooltip-content .tooltip-content-container .tooltip-buttons {
    margin-top: 26px;
  }
  .tooltip .tooltip-content .exit {
    top: 20px;
    right: 19px;
  }
}
.breadcrumbs {
  margin-top: 160px;
  margin-bottom: 20px;
}
.breadcrumbs .container {
  height: 100%;
}
.breadcrumbs .container ul li a {
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #1E1E1E;
  transition: 0.4s ease-in-out;
}
.breadcrumbs .container ul li a:hover {
  color: #FE5E41;
}
.breadcrumbs .container ul li i {
  margin-left: 12px;
  margin-right: 13px;
  font-size: 12px;
  color: #1E1E1E;
}
.breadcrumbs .container ul li:last-of-type a {
  pointer-events: none;
}

@media screen and (max-width: 1060px) {
  .breadcrumbs {
    margin-top: 100px;
  }
}
.single-product .container .single-product-top {
  align-items: center;
  margin-bottom: 36px;
}
.single-product .container .single-product-top ul li a i {
  font-size: 20px;
  color: #1E1E1E;
  margin-left: 20px;
  transition: 0.4s ease-in-out;
}
.single-product .container .single-product-top ul li a i:hover {
  color: #FE5E41;
}
.single-product .container .single-product-top ul li:first-of-type a i {
  margin-left: 0;
}
.single-product .container .single-product-bottom .single-product-bottom-left {
  width: 696px;
  height: 392px;
  position: relative;
}
.single-product .container .single-product-bottom .single-product-bottom-left .single-product-bottom-left-items {
  width: 696px;
  height: 392px;
}
.single-product .container .single-product-bottom .single-product-bottom-left .single-product-bottom-left-items .single-product-bottom-left-item {
  width: 696px;
  height: 392px;
}
.single-product .container .single-product-bottom .single-product-bottom-left .single-product-bottom-left-items .single-product-bottom-left-item img {
  object-fit: contain;
  object-position: center center;
  width: 100%;
  height: 100%;
}
.single-product .container .single-product-bottom .single-product-bottom-left .arrow_prev {
  height: 56px;
  width: 56px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background-color: #F2F2F2;
  cursor: pointer;
}
.single-product .container .single-product-bottom .single-product-bottom-left .arrow_prev span {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.single-product .container .single-product-bottom .single-product-bottom-left .arrow_prev span i {
  font-size: 24px;
  color: #1E1E1E;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s ease-in-out;
}
.single-product .container .single-product-bottom .single-product-bottom-left .arrow_prev:hover span i {
  color: #FE5E41;
}
.single-product .container .single-product-bottom .single-product-bottom-left .arrow_next {
  height: 56px;
  width: 56px;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  background-color: #F2F2F2;
  cursor: pointer;
}
.single-product .container .single-product-bottom .single-product-bottom-left .arrow_next span {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.single-product .container .single-product-bottom .single-product-bottom-left .arrow_next span i {
  font-size: 24px;
  color: #1E1E1E;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s ease-in-out;
}
.single-product .container .single-product-bottom .single-product-bottom-left .arrow_next:hover span i {
  color: #FE5E41;
}
.single-product .container .single-product-bottom .single-product-bottom-right {
  background-color: #F2F2F2;
  margin-left: 32px;
}
.single-product .container .single-product-bottom .single-product-bottom-right .single-product-bottom-right-content {
  padding: 24px 32px;
}
.single-product .container .single-product-bottom .single-product-bottom-right .single-product-bottom-right-content p:first-of-type {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #1E1E1E;
  line-height: 24px;
}
.single-product .container .single-product-bottom .single-product-bottom-right .single-product-bottom-right-content p:first-of-type span {
  color: #FE5E41;
}
.single-product .container .single-product-bottom .single-product-bottom-right .single-product-bottom-right-content p:last-of-type {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1E1E1E;
  margin-top: 13px;
}
.single-product .container .single-product-bottom .single-product-bottom-right .single-product-bottom-right-content .drop-down {
  display: flex;
  flex-direction: row;
  margin-top: 23px;
}
.single-product .container .single-product-bottom .single-product-bottom-right .single-product-bottom-right-content .drop-down .drop-down-left {
  width: 200px;
  height: 56px;
  margin-right: 22px;
  background-color: #FFFFFF;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  position: relative;
  border-bottom: 1px solid #DEDEDE;
}
.single-product .container .single-product-bottom .single-product-bottom-right .single-product-bottom-right-content .drop-down .drop-down-left label {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 18px;
  pointer-events: none;
  position: absolute;
  left: 16px;
  top: 5px;
}
.single-product .container .single-product-bottom .single-product-bottom-right .single-product-bottom-right-content .drop-down .drop-down-left select {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin-top: 13px;
  border: none;
  padding-left: 16px;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.single-product .container .single-product-bottom .single-product-bottom-right .single-product-bottom-right-content .drop-down .drop-down-left i {
  position: absolute;
  font-size: 15px;
  color: #1E1E1E;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}
.single-product .container .single-product-bottom .single-product-bottom-right .single-product-bottom-right-content .drop-down .drop-down-right {
  width: 200px;
  height: 56px;
  background-color: #FFFFFF;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  position: relative;
  border-bottom: 1px solid #DEDEDE;
}
.single-product .container .single-product-bottom .single-product-bottom-right .single-product-bottom-right-content .drop-down .drop-down-right label {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 18px;
  pointer-events: none;
  position: absolute;
  left: 16px;
  top: 5px;
}
.single-product .container .single-product-bottom .single-product-bottom-right .single-product-bottom-right-content .drop-down .drop-down-right select {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin-top: 13px;
  border: none;
  padding-left: 16px;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.single-product .container .single-product-bottom .single-product-bottom-right .single-product-bottom-right-content .drop-down .drop-down-right i {
  position: absolute;
  font-size: 15px;
  color: #1E1E1E;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}
.single-product .container .single-product-bottom .single-product-bottom-right .single-product-bottom-right-content .single-product-bottom-right-buttons {
  margin-top: 33px;
}
.single-product .container .single-product-bottom .single-product-bottom-right .single-product-bottom-right-content .single-product-bottom-right-buttons a {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  padding: 11px 25px;
  background-color: #00A878;
  margin-right: 8px;
  white-space: nowrap;
  border-radius: 4px;
  transition: 0.4s ease-in-out;
}
.single-product .container .single-product-bottom .single-product-bottom-right .single-product-bottom-right-content .single-product-bottom-right-buttons a:hover {
  background-color: #FFFFFF;
  color: #00A878;
}
.single-product .container .single-product-bottom .single-product-bottom-right .single-product-bottom-right-content .single-product-bottom-right-buttons a:last-of-type {
  color: #00A878;
  background-color: #FFFFFF;
  border: 1px solid #DEDEDE;
}
.single-product .container .single-product-bottom .single-product-bottom-right .single-product-bottom-right-content .single-product-bottom-right-buttons a:last-of-type:hover {
  background-color: #00A878;
  color: #FFFFFF;
}
.single-product .container .tabs {
  margin-top: 60px;
  margin-bottom: 20px;
}
.single-product .container .tabs ul li {
  margin-right: 32px;
}
.single-product .container .tabs ul li a {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #1E1E1E;
  transition: 0.4s ease-in-out;
}
.single-product .container .tabs ul li a:hover {
  color: #FE5E41;
}
.single-product .container .tabs ul li:last-of-type {
  margin-right: 0;
}

.container-checkbox {
  margin-top: 21px;
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: -12px;
  cursor: pointer;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  line-height: 24px;
  color: #1E1E1E;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
}

.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  left: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 17px;
  width: 16px;
  background-color: #eee;
  border-radius: 4px;
  border: 1px solid #BDBDBD;
}

.container-checkbox:hover input ~ .checkmark {
  background-color: #FFFFFF;
}

.container-checkbox input:checked ~ .checkmark {
  background-color: #00A878;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container-checkbox input:checked ~ .checkmark:after {
  display: block;
}

.container-checkbox .checkmark:after {
  left: 4.5px;
  top: 2.4px;
  width: 3px;
  height: 7px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media screen and (max-width: 1250px) {
  .single-product .container .single-product-bottom .single-product-bottom-left {
    width: 492px;
  }
  .single-product .container .single-product-bottom .single-product-bottom-left .single-product-bottom-left-items {
    width: 492px;
    height: 392px;
  }
  .single-product .container .single-product-bottom .single-product-bottom-left .single-product-bottom-left-items .single-product-bottom-left-item {
    width: 492px;
    height: 392px;
  }
}
@media screen and (max-width: 1060px) {
  .single-product .container .single-product-bottom {
    flex-direction: column;
  }
  .single-product .container .single-product-bottom .single-product-bottom-left {
    width: 100%;
  }
  .single-product .container .single-product-bottom .single-product-bottom-left .single-product-bottom-left-items {
    width: 100%;
    height: 392px;
  }
  .single-product .container .single-product-bottom .single-product-bottom-left .single-product-bottom-left-items .single-product-bottom-left-item {
    width: 100%;
    height: 392px;
  }
}
@media screen and (max-width: 767px) {
  .single-product .container .single-product-top {
    flex-direction: column;
    position: relative;
    margin-bottom: 24px;
  }
  .single-product .container .single-product-top h1 {
    font-size: 28px;
    line-height: 36px;
  }
  .single-product .container .single-product-bottom {
    flex-direction: column;
    margin-top: 30px;
  }
  .single-product .container .single-product-bottom .single-product-bottom-left {
    height: 211px;
  }
  .single-product .container .single-product-bottom .single-product-bottom-left .single-product-bottom-left-items {
    height: 100%;
  }
  .single-product .container .single-product-bottom .single-product-bottom-left .single-product-bottom-left-items .single-product-bottom-left-item {
    height: 100%;
  }
  .single-product .container .single-product-bottom .single-product-bottom-left .arrow_prev {
    height: 48px;
    width: 48px;
  }
  .single-product .container .single-product-bottom .single-product-bottom-left .arrow_prev span i {
    font-size: 20px;
  }
  .single-product .container .single-product-bottom .single-product-bottom-left .arrow_next {
    height: 48px;
    width: 48px;
  }
  .single-product .container .single-product-bottom .single-product-bottom-left .arrow_next span i {
    font-size: 20px;
  }
  .single-product .container .single-product-bottom .single-product-bottom-right {
    margin-top: 50px;
  }
  .single-product .container .single-product-bottom .single-product-bottom-right .single-product-bottom-right-content .drop-down {
    flex-direction: column;
    margin-top: 19px;
  }
  .single-product .container .single-product-bottom .single-product-bottom-right .single-product-bottom-right-content .drop-down .drop-down-left {
    width: 100%;
    margin-bottom: 16px;
    margin-right: 0;
  }
  .single-product .container .single-product-bottom .single-product-bottom-right .single-product-bottom-right-content .drop-down .drop-down-right {
    width: 100%;
  }
  .single-product .container .single-product-bottom .single-product-bottom-right .single-product-bottom-right-content .container-checkbox {
    margin-top: 17px;
    margin-bottom: 14px;
  }
  .single-product .container .single-product-bottom .single-product-bottom-right .single-product-bottom-right-content .single-product-bottom-right-buttons {
    margin-top: 16px;
  }
  .single-product .container .single-product-bottom .single-product-bottom-right .single-product-bottom-right-content .single-product-bottom-right-buttons a {
    padding: 11px 25px;
  }
}
@media screen and (max-width: 555px) {
  .single-product .container .single-product-top {
    flex-direction: column;
    position: relative;
    margin-bottom: 24px;
  }
  .single-product .container .single-product-top h1 {
    font-size: 28px;
    line-height: 36px;
  }
  .single-product .container .single-product-top ul {
    position: absolute;
    right: 0;
    bottom: 8px;
  }
  .single-product .container .single-product-bottom {
    flex-direction: column;
    margin-top: 30px;
  }
  .single-product .container .single-product-bottom .single-product-bottom-left {
    height: 211px;
  }
  .single-product .container .single-product-bottom .single-product-bottom-left .single-product-bottom-left-items {
    height: 100%;
  }
  .single-product .container .single-product-bottom .single-product-bottom-left .single-product-bottom-left-items .single-product-bottom-left-item {
    height: 100%;
  }
  .single-product .container .single-product-bottom .single-product-bottom-left .arrow_prev {
    height: 48px;
    width: 48px;
  }
  .single-product .container .single-product-bottom .single-product-bottom-left .arrow_prev span i {
    font-size: 20px;
  }
  .single-product .container .single-product-bottom .single-product-bottom-left .arrow_next {
    height: 48px;
    width: 48px;
  }
  .single-product .container .single-product-bottom .single-product-bottom-left .arrow_next span i {
    font-size: 20px;
  }
  .single-product .container .single-product-bottom .single-product-bottom-right {
    margin-left: 0;
    margin-top: 17px;
  }
  .single-product .container .single-product-bottom .single-product-bottom-right .single-product-bottom-right-content {
    padding: 24px 25px;
  }
  .single-product .container .single-product-bottom .single-product-bottom-right .single-product-bottom-right-content p:last-of-type {
    font-size: 14px;
    width: 285px;
  }
  .single-product .container .single-product-bottom .single-product-bottom-right .single-product-bottom-right-content .drop-down {
    flex-direction: column;
    margin-top: 19px;
  }
  .single-product .container .single-product-bottom .single-product-bottom-right .single-product-bottom-right-content .drop-down .drop-down-left {
    width: 100%;
    margin-bottom: 16px;
    margin-right: 0;
  }
  .single-product .container .single-product-bottom .single-product-bottom-right .single-product-bottom-right-content .drop-down .drop-down-left i {
    right: 5px;
  }
  .single-product .container .single-product-bottom .single-product-bottom-right .single-product-bottom-right-content .drop-down .drop-down-right {
    width: 100%;
  }
  .single-product .container .single-product-bottom .single-product-bottom-right .single-product-bottom-right-content .drop-down .drop-down-right i {
    right: 5px;
  }
  .single-product .container .single-product-bottom .single-product-bottom-right .single-product-bottom-right-content .container-checkbox {
    margin-top: 17px;
    margin-bottom: 13px;
  }
  .single-product .container .single-product-bottom .single-product-bottom-right .single-product-bottom-right-content .container-checkbox:last-of-type {
    margin-top: 5px;
  }
  .single-product .container .single-product-bottom .single-product-bottom-right .single-product-bottom-right-content .single-product-bottom-right-buttons {
    margin-top: 0;
  }
  .single-product .container .single-product-bottom .single-product-bottom-right .single-product-bottom-right-content .single-product-bottom-right-buttons a {
    padding: 11px 25px;
  }
  .single-product .container .tabs {
    margin-top: 39px;
  }
  .single-product .container .tabs ul li {
    margin-right: 25px;
    white-space: nowrap;
  }
}
.two-column {
  border-top: 1px solid #DEDEDE;
}
.two-column .container {
  margin-top: 60px;
  margin-bottom: 66px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.two-column .container .two-column-left {
  width: auto;
}
.two-column .container .two-column-left .section-title {
  margin-bottom: 32.5px;
}
.two-column .container .two-column-left p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1E1E1E;
  max-width: 488px;
}
.two-column .container .two-column-left p:first-of-type {
  margin-bottom: 15px;
}
.two-column .container .two-column-left a {
  margin-top: 24.5px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #FE5E41;
  padding: 11px 32px;
  border: 1px solid #DEDEDE;
  border-radius: 4px;
  transition: 0.4s ease-in-out;
}
.two-column .container .two-column-left a:hover {
  background-color: #FE5E41;
  color: #FFFFFF;
}
.two-column .container .two-column-right {
  width: 592px;
  height: 444px;
  position: relative;
}
.two-column .container .two-column-right img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1250px) {
  .two-column .container .two-column-right {
    width: 492px;
  }
}
@media screen and (max-width: 1060px) {
  .two-column .container {
    flex-direction: column;
  }
  .two-column .container .two-column-left p {
    max-width: 100%;
  }
  .two-column .container .two-column-right {
    margin-top: 50px;
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .two-column .container {
    flex-direction: column-reverse;
    max-width: 100%;
  }
  .two-column .container .two-column-left {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  .two-column .container .two-column-right {
    margin-top: 0;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 555px) {
  .two-column .container {
    margin-top: 40px;
    max-width: 100%;
  }
  .two-column .container .two-column-left {
    max-width: 327px;
  }
  .two-column .container .two-column-left .section-title {
    margin-bottom: 23px;
  }
  .two-column .container .two-column-right {
    height: 280px;
    margin-bottom: 25px;
  }
}
.multiple-rows {
  background-color: #F2F2F2;
  padding-top: 6px;
  padding-bottom: 88px;
}
.multiple-rows .container .section-title {
  margin-bottom: 33px;
}
.multiple-rows .container .multiple-rows-items {
  display: flex;
  flex-direction: row;
}
.multiple-rows .container .multiple-rows-items .multiple-rows-item:first-of-type h3 {
  padding-left: 20px;
}
.multiple-rows .container .multiple-rows-items .multiple-rows-item:first-of-type span {
  padding-left: 20px;
}
.multiple-rows .container .multiple-rows-items .multiple-rows-item:nth-child(3) h3 {
  padding-left: 51px;
}
.multiple-rows .container .multiple-rows-items .multiple-rows-item:nth-child(3) span {
  padding-left: 51px;
}
.multiple-rows .container .multiple-rows-items .multiple-rows-item:nth-child(4) h3 {
  padding-left: 48px;
}
.multiple-rows .container .multiple-rows-items .multiple-rows-item:nth-child(4) span {
  padding-left: 48px;
}
.multiple-rows .container .multiple-rows-items .multiple-rows-item:nth-child(5) h3 {
  padding-left: 51px;
}
.multiple-rows .container .multiple-rows-items .multiple-rows-item:nth-child(5) span {
  padding-left: 51px;
}
.multiple-rows .container .multiple-rows-items .multiple-rows-item:nth-child(6) h3 {
  padding-left: 46px;
}
.multiple-rows .container .multiple-rows-items .multiple-rows-item:nth-child(6) span {
  padding-left: 46px;
}
.multiple-rows .container .multiple-rows-items .multiple-rows-item:last-of-type {
  width: 100%;
}
.multiple-rows .container .multiple-rows-items .multiple-rows-item h3 {
  padding-left: 40px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #FE5E41;
  margin-bottom: 8px;
  white-space: nowrap;
}
.multiple-rows .container .multiple-rows-items .multiple-rows-item span {
  min-height: 40px;
  align-items: center;
  display: flex;
  padding-left: 40px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #1E1E1E;
  white-space: nowrap;
}
.multiple-rows .container .multiple-rows-items .multiple-rows-item span:nth-child(even) {
  background-color: #FFFFFF;
}

@media screen and (max-width: 1060px) {
  .multiple-rows .container .multiple-rows-items {
    overflow-x: auto;
  }
}
@media screen and (max-width: 555px) {
  .multiple-rows .container {
    max-width: 326px;
  }
}
.site-header {
  height: 120px;
  background-color: #FE5E41;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
.site-header .container {
  height: 100%;
  align-items: center;
}
.site-header .container .logo {
  margin-right: 52.5px;
}
.site-header .container .logo img {
  height: 40px;
}
.site-header .container .nav {
  align-items: center;
  transition: 0.4s ease-in-out;
}
.site-header .container .nav ul {
  margin-top: 2px;
}
.site-header .container .nav ul li {
  margin-right: 31px;
  position: relative;
  padding-left: 5px;
  padding-right: 5px;
}
.site-header .container .nav ul li a {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  transition: 0.4s ease-in-out;
}
.site-header .container .nav ul li::after {
  content: " ";
  position: absolute;
  width: 0;
  height: 5px;
  left: 0;
  bottom: -48px;
  background-color: #1E1E1E;
  transition: 0.4s ease-in-out;
}
.site-header .container .nav ul li:hover a {
  color: #1E1E1E;
}
.site-header .container .nav ul li:hover::after {
  width: 100%;
  right: 0;
}
.site-header .container .nav ul li:last-of-type {
  margin-right: 34px;
}
.site-header .container .nav ul .active a {
  color: #1E1E1E;
}
.site-header .container .nav ul .active::after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: -48px;
  left: 0;
  right: 0;
  background-color: #1E1E1E;
}
.site-header .container .nav .search-bar {
  width: 256px;
  height: 54px;
  border: 1px solid #FFFFFF;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.site-header .container .nav .search-bar input {
  width: 200px;
  height: 100%;
  outline: none;
  overflow: hidden;
  padding: 0;
  border: none;
}
.site-header .container .nav .search-bar input::placeholder {
  border: none;
  padding-left: 16px;
}
.site-header .container .nav .search-bar input:focus, .site-header .container .nav .search-bar input:active {
  outline: none;
  padding-left: 16px;
  border: none;
}
.site-header .container .nav .search-bar .search-bar-link {
  width: 56px;
  position: relative;
  background-color: #FFFFFF;
}
.site-header .container .nav .search-bar .search-bar-link a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.site-header .container .nav .search-bar .search-bar-link a i {
  color: #1E1E1E;
  transition: 0.4s ease-in-out;
  font-size: 20px;
}
.site-header .container .nav .search-bar .search-bar-link:hover a i {
  color: #FE5E41;
}
.site-header .container .hamburger {
  display: none;
}
.site-header .container .socials {
  margin-left: auto;
}
.site-header .container .socials ul li {
  margin-left: 24px;
}
.site-header .container .socials ul li a {
  color: #FFFFFF;
  font-size: 20px;
  transition: 0.4s ease-in-out;
}
.site-header .container .socials ul li a:hover {
  color: #1E1E1E;
}
.site-header .container .socials ul li:last-of-type a:hover {
  color: #1E1E1E;
}
.site-header .container .socials ul li:last-of-type a i {
  position: relative;
}
.site-header .container .socials ul li:last-of-type a i .order-count-container {
  position: absolute;
  left: 12px;
  bottom: -5px;
  width: 20px;
  height: 20px;
  background-color: #00A878;
  border-radius: 50%;
}
.site-header .container .socials ul li:last-of-type a i .order-count-container .order-count {
  font-size: 15px;
  line-height: 18px;
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fixed-class {
  overflow: hidden;
}

.body::after {
  content: " ";
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: -1;
  opacity: 0;
}

.body.active::after {
  opacity: 1;
  z-index: 100;
}

@media screen and (max-width: 1250px) {
  .site-header .container .logo {
    margin-right: 35px;
  }
  .site-header .container .nav ul li {
    margin-right: 20px;
  }
}
@media screen and (max-width: 1060px) {
  .site-header {
    height: 70px;
  }
  .site-header .container {
    position: relative;
  }
  .site-header .container .logo {
    margin-left: 49px;
  }
  .site-header .container .logo img {
    height: 28px;
  }
  .site-header .container .nav {
    position: absolute;
    background-color: rgba(34, 34, 34, 0.9);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200vh;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    z-index: 10;
    left: -120%;
  }
  .site-header .container .nav ul {
    text-align: center;
    flex-direction: column;
    position: absolute;
    top: 60%;
    transform: translateY(0%);
  }
  .site-header .container .nav ul li {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .site-header .container .nav ul li a:hover {
    color: #FE5E41;
  }
  .site-header .container .nav ul li::after {
    bottom: 0;
    height: 3px;
    background-color: #FE5E41;
  }
  .site-header .container .nav ul li:last-of-type {
    margin-right: 0;
  }
  .site-header .container .nav ul .active a {
    color: #FE5E41;
  }
  .site-header .container .nav ul .active::after {
    bottom: 0;
    height: 3px;
    background-color: #FE5E41;
  }
  .site-header .container .nav .search-bar {
    position: absolute;
    top: 75%;
    transform: translateY(0%);
  }
  .site-header .container .nav.active {
    left: 50%;
  }
  .site-header .container .hamburger {
    display: flex;
    width: 18px;
    height: 17px;
    position: absolute;
    z-index: 1000;
    cursor: pointer;
  }
  .site-header .container .hamburger span {
    background-color: #FFFFFF;
    width: 100%;
    height: 2px;
    position: absolute;
  }
  .site-header .container .hamburger span:first-of-type {
    top: 0;
  }
  .site-header .container .hamburger span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }
  .site-header .container .hamburger span:last-of-type {
    bottom: 0;
  }
}