@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&family=Poppins:wght@300;400;500;600;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a,
button {
  display: inline-block;
  text-decoration: none;
}
a:hover, a:focus, a:visited,
button:hover,
button:focus,
button:visited {
  outline: none;
  color: inherit;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1215px;
  margin: 0 auto;
  width: 100%;
}

.flex--between {
  display: flex;
  justify-content: space-between;
}

.flex--column {
  display: flex;
  flex-direction: column;
}

.flex--row {
  display: flex;
  flex-direction: row;
}

.flex--wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex--center {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

@font-face {
  font-family: "fonticons";
  src: url("../scss/icons/fonticons.eot");
  src: url("../scss/icons/fonticons.eot?#iefix") format("eot"), url("../scss/icons/fonticons.woff2") format("woff2"), url("../scss/icons/fonticons.woff") format("woff"), url("../scss/icons/fonticons.ttf") format("truetype"), url("../scss/icons/fonticons.svg#fonticons") format("svg");
}
.icon-twitter-brands:before, .icon-shop:before, .icon-scissors:before, .icon-paw-solid:before, .icon-instagram-brands:before, .icon-hospital-alt-solid:before, .icon-facebook-f-brands:before, .icon-dog:before, .icon-dog-training:before, .icon-chevron-up-solid:before, .icon-chevron-right-solid:before, .icon-chevron-left-solid:before, .icon-chevron-down-solid:before {
  font-family: "fonticons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
}

.icon-chevron-down-solid:before {
  content: "\e001";
}

.icon-chevron-left-solid:before {
  content: "\e002";
}

.icon-chevron-right-solid:before {
  content: "\e003";
}

.icon-chevron-up-solid:before {
  content: "\e004";
}

.icon-dog-training:before {
  content: "\e005";
}

.icon-dog:before {
  content: "\e006";
}

.icon-facebook-f-brands:before {
  content: "\e007";
}

.icon-hospital-alt-solid:before {
  content: "\e008";
}

.icon-instagram-brands:before {
  content: "\e009";
}

.icon-paw-solid:before {
  content: "\e00a";
}

.icon-scissors:before {
  content: "\e00b";
}

.icon-shop:before {
  content: "\e00c";
}

.icon-twitter-brands:before {
  content: "\e00d";
}

.section-title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  color: #1E1E1E;
}

.two-column {
  border-top: 1px solid #DEDEDE;
}
.two-column .container {
  margin-top: 60px;
  margin-bottom: 105px;
}
.two-column .container .two-column-left {
  width: calc(50% - 70px);
}
.two-column .container .two-column-left .section-title {
  margin-bottom: 32.5px;
}
.two-column .container .two-column-left p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1E1E1E;
  max-width: 488px;
}
.two-column .container .two-column-left p:first-of-type {
  margin-bottom: 15px;
}
.two-column .container .two-column-left a {
  margin-top: 24.5px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #FE5E41;
  padding: 11px 32px;
  border: 1px solid #DEDEDE;
  border-radius: 4px;
  transition: 0.4s ease-in-out;
}
.two-column .container .two-column-left a:hover {
  background-color: #FE5E41;
  color: #FFFFFF;
}
.two-column .container .two-column-right {
  width: calc(50% - 70px);
}

.multiple-rows {
  background-color: #F2F2F2;
}
.multiple-rows .container .section-title {
  margin-bottom: 33px;
}
.multiple-rows .container .multiple-rows-items {
  display: flex;
  flex-direction: row;
}
.multiple-rows .container .multiple-rows-items .multiple-rows-item:first-of-type h3 {
  padding-left: 20px;
}
.multiple-rows .container .multiple-rows-items .multiple-rows-item:first-of-type span {
  padding-left: 20px;
}
.multiple-rows .container .multiple-rows-items .multiple-rows-item:last-of-type {
  width: auto;
}
.multiple-rows .container .multiple-rows-items .multiple-rows-item:last-of-type span {
  width: 100%;
  padding-right: 100%;
}
.multiple-rows .container .multiple-rows-items .multiple-rows-item h3 {
  padding-left: 50px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #FE5E41;
  margin-bottom: 16px;
}
.multiple-rows .container .multiple-rows-items .multiple-rows-item span {
  min-height: 40px;
  align-items: center;
  display: flex;
  padding-left: 50px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #1E1E1E;
}
.multiple-rows .container .multiple-rows-items .multiple-rows-item span:last-of-type {
  margin-bottom: 88px;
}
.multiple-rows .container .multiple-rows-items .multiple-rows-item span:nth-child(even) {
  background-color: #FFFFFF;
}