html {
  scroll-behavior: smooth;
}

body {

}

.container {
    max-width: 1215px;
    margin: 0 auto;
    width: 100%;
}


.flex--between {
  display: flex;
  justify-content: space-between;
}
.flex--column {
  display: flex;
  flex-direction: column;
}

.flex--row {
  display: flex;
  flex-direction: row;
}

.flex--wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex--center {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

