$orange: #FE5E41;
$turquoise: #00A878;
$white: #FFFFFF;
$light-gray: #F2F2F2;
$semi-black: #1E1E1E;
$background-color: #E5E5E5;

$font-main: 'Poppins', sans-serif;
$font-second: 'Inter', sans-serif;

// Breakpoints
$mac: 1440px;
$lg: 1199px;
$md: 991px;
$sm: 767px;
$mb: 555px;
$ip: 420px;
$xs: 350px;

$transition-ease: 0.4s ease-in-out;
