.two-column {
  border-top: 1px solid #DEDEDE;
  .container {
    margin-top: 60px;
    margin-bottom: 66px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .two-column-left {
      width: auto;
      .section-title {
        margin-bottom: 32.5px;
      }
      p {
        font-family: $font-second;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: $semi-black;
        max-width: 488px;
        &:first-of-type {
          margin-bottom: 15px;
        }
      }
      a {
        margin-top: 24.5px;
        font-family: $font-main;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: $orange;
        padding: 11px 32px;
        border: 1px solid #DEDEDE;
        border-radius: 4px;
        transition: $transition-ease;
        &:hover {
          background-color: $orange;
          color: $white;
        }
      }
    }
    .two-column-right {
      width: 592px;
      height: 444px;
      position: relative;
      img {
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
}

@include lg-1250 {
  .two-column {
    .container {
      .two-column-right {
        width: 492px;
      }
    }
  }
}

@include md-1060 {
  .two-column {
    .container {
      flex-direction: column;
      .two-column-left {
        p {
          max-width: 100%;
        }
      }
      .two-column-right {
        margin-top: 50px;
        width: 100%;
      }
    }
  }
}

@include sm-767 {
  .two-column {
    .container {
      flex-direction: column-reverse;
      max-width: 100%;
      .two-column-left {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
      }
      .two-column-right {
        margin-top: 0;
        margin-bottom: 40px;
      }
    }
  }
}

@include mb-555 {
  .two-column {
    .container {
      margin-top: 40px;
      max-width: 100%;
      .two-column-left {
        max-width: 327px;
        .section-title {
          margin-bottom: 23px;
        }
      }
      .two-column-right {
        height: 280px;
        margin-bottom: 25px;
      }
    }
  }
}